<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineFan"
        tools:targetApi="31">
        
        <activity
            android:name=".actividades.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CineFan.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".actividades.LoginActivity" />
        <activity android:name=".actividades.RegistroActivity" />
        <activity android:name=".actividades.MainActivity" />
        <activity android:name=".actividades.FeedActivity" />
        <activity android:name=".actividades.PeliculasActivity" />
        <activity android:name=".actividades.AgregarPeliculaActivity" />
        <activity android:name=".actividades.MapaActivity" />
        
        <receiver android:name=".servicios.ReceptorLlamadas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        
        <service android:name=".servicios.ServicioMusica" />
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCYdonAo-DUT_7UrJ5emfeSQbgASeut-4" />
    </application>

</manifest>